@media (max-width: 515px)
{
   body {
    font-size: 0.6rem;
   }

}



/* Start Header */


header a {
    color: black;
    margin-left: 20px;
}

header a :visited{
    color: black;
}

header img {
    width: 30%;
    height: 30%;

}

/* Stop Header */

/* Start Hero-Section */

#hero-section img {
    width: 100%;
    height: auto;
}

#hero-section .citat {
    position: absolute;
    background-color: green;
    height: 3rem;
    margin-top: 100px;
}


/* Stop Hero-Section */

/* SECTION-2 */
#section-2 img {
    width: 98%;
    height: auto;
}

#section-2 h3 {
    border-bottom: 1px solid rgba(157, 156, 156, 0.758);
}

/* STOP SECTION-2 */


/* SECTION-3 */

#section-3 img {
    width: 98%;
    height: auto;
}

#section-3 h3 {
    border-bottom: 1px solid rgba(157, 156, 156, 0.758);
}


/* SECTION-4 */

#section-4 {
    background-color: rgba(27, 27, 27, 0.94);
    filter: opacity(98%);
}

#section-4 p {
    filter: contrast(300%);
    color: rgba(250, 235, 215, 0.506);
    font-size: 1rem;
}

#section-4 ul li {
    border-bottom: 1px solid rgba(93, 93, 93, 0.704);
    color: rgba(225, 225, 225, 0.808) ;
}


/* STOP SECTION-4 */


/* START FOOTER */

footer {
    color: rgba(98, 98, 98, 0.775);
}

/* STOP FOOTER */
